* {
  margin: 0px;
  border: 0px;
  padding: 0px;
}

div {
  box-sizing: border-box;
  width: 34%;
  height: 450px;
  box-sizing: border-box;
  display: inline-block;
  transition-property: background, border-radius;
  transition-duration: 2s, 1.5s;
  /* transition: all as bs, respectively duration and delay time */
  background: red;
}

div:hover {
  background: coral;
}

.one {
  background: red;
}

.two {
  background: green;
}

.two:hover {
  border-radius: 40%;
}

.three {
  background: blue;
}

.three:hover {
  border-radius: 40%;
}

.four {
  background: darkcyan;
}

.four:hover {
  border-radius: 40%;
}
